{% set title = "Post Statistics" %}
{% extends 'base.html' %}

{% block content %}
    {% if posts_exist %}
        <p>Average: {{ average_length|round(2) }} characters</p>
        <p>Median: {{ median_length|round(2) }} characters</p>
        <p>Maximum: {{ max_length|round(2) }} characters</p>
        <p>Minimum: {{ min_length|round(2) }} characters</p>
        <br>
        <p>Total length of all posts: {{ total_length|round(2) }} characters</p>
    {% else %}
        <p>No posts yet!</p>
    {% endif %}

{% endblock %}
